{{#if this.isHomepage}}
  <div class="hero">
    <div class="wrap">
      <h1>
        Welcome to the
        <strong>Power of 10</strong>
      </h1>
      <svg xmlns="http://www.w3.org/2000/svg" width="536" height="22" viewBox="0 0 536 22" fill="none">
        <path d="M4 11.2578C6.21104 12.116 8.03136 12.5531 10.1477 11.0362C11.8397 9.82344 13.0907 7.57469 15.1537 8.87585C17.4957 10.353 19.4847 13.0304 22.2675 13.0304C27.3546 13.0304 32.4278 7.51036 36.6707 4.49977C38.8286 2.96857 37.9644 7.28134 37.988 9.04203C38.0566 14.1494 40.5148 13.4383 43.8723 11.9779C45.1904 11.4045 57.9729 3.66246 58.3633 4.94291C58.8774 6.62921 55.9826 12.6213 57.1337 13.5289C58.5951 14.6811 62.9258 9.82012 64.2475 9.04203C65.2466 8.45387 64.0466 14.1312 64.0719 15.0245C64.2701 22.027 78.3245 8.33006 79.7046 14.249C80.3733 17.1171 80.7457 18.5665 83.5689 17.7942C90.0471 16.0219 95.8795 11.0791 102.715 11.4239C106.551 11.6175 110.652 13.7945 114.307 15.2461C118.78 17.0222 123.181 14.0555 127.613 12.8642C140.399 9.42687 151.85 12.2549 164.631 12.2549C172.32 12.2549 179.923 11.3754 187.509 9.81754C188.531 9.60765 190.456 8.90515 191.417 9.92833C192.847 11.4503 190.106 14.4125 190.627 15.1353C193.208 18.7175 210.545 6.51385 211.617 15.1353C212.225 20.0294 227.806 10.3784 231.202 9.2636C237.544 7.1814 231.85 12.5433 230.411 15.0245C229.423 16.7278 230.731 16.3183 231.685 15.9662C235.761 14.4611 239.692 12.5632 243.848 11.3686C245.73 10.8277 254.792 7.37399 255.222 12.2549C255.521 15.6541 253.452 16.2572 257.549 15.0245C266.395 12.3629 275.512 9.27635 284.599 8.37731C288.344 8.00682 287.453 9.69838 290.132 11.2578C294.745 13.9438 301.648 11.1725 306.291 10.2607C311.169 9.30298 316.041 8.44268 320.958 7.87877C322.09 7.74895 328.278 6.17702 329.477 7.87877C330.938 9.95172 327.297 11.5159 331.058 11.0362C337.674 10.1923 344.086 7.19041 350.643 6.43854C351.004 6.39712 338.723 15.212 350.379 10.8146C353.004 9.82449 355.947 7.2585 358.459 9.48518C361.144 11.8656 363.4 13.8499 366.802 12.6426C369.079 11.835 370.798 10.2756 372.248 7.98956C373.046 6.72987 370.892 11.8092 371.896 12.8088C373.699 14.604 377.915 7.95436 378.878 6.60472C380.052 4.95932 376.825 10.232 376.112 12.2549C375.731 13.3366 382.689 10.1307 383.226 9.81754C384.525 9.05865 390.454 2.70124 387.573 6.49393C385.946 8.63495 380.988 14.0613 386.475 11.8117C388.434 11.0087 389.496 10.8688 391.481 11.147C394.758 11.6062 397.062 9.18946 400.088 8.32192C400.71 8.14348 396.092 14.0109 399.078 12.4764C400.108 11.9471 409.867 5.00675 409.924 5.94C409.998 7.14951 405.221 16.7942 405.533 16.7417C409.129 16.1369 412.931 9.70949 415.457 6.71551C416.896 5.01018 413.892 10.6316 413.437 11.2578C410.133 15.8045 420.542 9.20168 421.297 8.76506C421.521 8.636 432.465 2.23466 430.299 6.27236C429.973 6.88044 425.996 11.424 428.148 11.0362C432.927 10.1749 437.497 7.5748 442.112 5.8846C445.53 4.63266 444.583 7.38469 446.986 8.82046C452.54 12.1393 465.987 -0.836048 467.976 6.27236C468.455 7.9828 483.602 4.27819 486.156 4.27819C492.108 4.27819 498.207 4.27819 504.248 4.27819C508.091 4.27819 512.419 3.52368 516.192 4.49977C520.67 5.65852 527.862 6.88824 532 4.27819" stroke="white" stroke-width="8" stroke-linecap="round"/>
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="536" height="23" viewBox="0 0 536 23" fill="none">
        <path d="M531.999 11.1339C529.788 10.2446 527.968 9.79143 525.851 11.3615C524.159 12.6168 522.907 14.945 520.845 13.5971C518.503 12.0668 516.514 9.29389 513.732 9.29308C508.645 9.29161 503.57 15.006 499.327 18.1223C497.169 19.7072 498.034 15.2416 498.011 13.4184C497.943 8.12973 495.485 8.86536 492.127 10.3767C490.809 10.97 478.025 18.9831 477.635 17.6571C477.121 15.9108 480.017 9.70692 478.866 8.76679C477.405 7.5733 473.073 12.6055 471.751 13.4108C470.752 14.0196 471.953 8.14111 471.928 7.21609C471.731 -0.0349143 457.674 14.144 456.295 8.01461C455.627 5.04458 455.255 3.54357 452.431 4.3425C445.953 6.17578 440.12 11.2924 433.285 10.9333C429.449 10.7317 425.348 8.47635 421.693 6.97215C417.22 5.13168 412.819 8.20241 408.387 9.43476C395.6 12.9904 384.15 10.0587 371.369 10.055C363.68 10.0528 356.077 10.9613 348.49 12.5722C347.468 12.7893 345.543 13.5162 344.582 12.4564C343.153 10.88 345.894 7.81342 345.374 7.06485C342.793 3.35479 325.454 15.9865 324.384 7.05879C323.776 1.99089 308.194 11.9798 304.798 13.1332C298.456 15.2875 304.15 9.73695 305.589 7.16809C306.578 5.40467 305.27 5.82832 304.316 6.19262C300.239 7.74998 296.308 9.71406 292.152 10.9499C290.27 11.5095 281.208 15.0831 280.779 10.0289C280.48 6.5089 282.549 5.88498 278.452 7.16026C269.606 9.91381 260.488 13.1072 251.401 14.0356C247.656 14.4181 248.547 12.6668 245.868 11.0513C241.255 8.26855 234.352 11.1363 229.709 12.0791C224.831 13.0694 219.959 13.9588 215.042 14.5413C213.91 14.6754 207.722 16.3013 206.523 14.5389C205.062 12.3919 208.703 10.7732 204.942 11.2689C198.327 12.1409 191.913 15.2474 185.357 16.0241C184.996 16.0669 197.278 6.94269 185.621 11.4928C182.996 12.5173 180.053 15.1735 177.541 12.8671C174.856 10.4014 172.601 8.34606 169.198 9.59518C166.922 10.4308 165.203 12.0451 163.752 14.4118C162.953 15.716 165.108 10.457 164.105 9.42164C162.302 7.56216 158.085 14.4466 157.121 15.8439C155.947 17.5473 159.176 12.0885 159.889 9.99401C160.27 8.87396 153.311 12.1916 152.775 12.5158C151.475 13.3012 145.545 19.8825 148.427 15.9561C150.054 13.7395 155.013 8.122 149.526 10.4499C147.567 11.2809 146.504 11.4254 144.52 11.1368C141.243 10.6603 138.938 13.1621 135.912 14.0596C135.29 14.2442 139.909 8.16986 136.923 9.75795C135.893 10.3057 126.132 17.4896 126.076 16.5232C126.002 15.2708 130.781 5.28514 130.469 5.33942C126.873 5.96466 123.07 12.6191 120.543 15.7186C119.103 17.484 122.108 11.664 122.564 11.0157C125.868 6.30854 115.458 13.1427 114.703 13.5946C114.48 13.7282 103.535 20.3535 105.701 16.1732C106.027 15.5436 110.005 10.84 107.853 11.2409C103.074 12.1314 98.5035 14.8224 93.8881 16.5713C90.4695 17.8667 91.417 15.0173 89.0144 13.5298C83.4608 10.0916 70.0117 23.5236 68.0241 16.1623C67.5458 14.391 52.3983 18.2227 49.8441 18.222C43.892 18.2203 37.7932 18.2185 31.7524 18.2168C27.9093 18.2157 23.5804 18.9957 19.8084 17.9839C15.3305 16.7827 8.13863 15.5073 4.00006 18.2088" stroke="white" stroke-width="8" stroke-linecap="round"/>
      </svg>
    </div>
  </div>
  <div class="wrap">
    <div class="intro">
      <div class="intro__col">
        <div class="intro__content">
          <h2>
            Care about our planet? You're not alone!
          </h2>
          <p>
            The Power of 10 is a community that empowers young campaigners with the tools and resources to deliver positive messages of sustainable living at home, at school, and in their communities. It’s a safe place for young activists and conservationists to communicate and help each other. If you are passionate about protecting our planet, consider signing up or log in.
          </p>
          <div class="intro__link-group">
            <a href="/t/what-is-power-of-10/126" class="intro__link">{{d-icon 'question-circle'}} What is the Power of 10?</a>
            <a href="/t/community-guidelines/66/2" class="intro__link">{{d-icon 'hand-holding-heart'}} Read our community guidelines</a>
          </div>
        </div>
      </div>
      <div class="intro__col">
        <div class="intro__image">
          <img src="{{theme-setting "theme_uploads.founder-sticker"}}" alt="Amy Bray - Founder" />
          <div class="sticker-group">
            <div class="sticker sticker--skew"><span class="sticker__inner">Amy Bray</span></div>
            <div class="sticker sticker--skew sticker--small sticker--dark sticker"><span class="sticker__inner">Founder</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-categories">
      <div class="home-categories__category category-card">
        <div class="category-card__background">
          <img src="{{theme-setting "theme_uploads.category-bg-welcome"}}" class="category-card__background-image" />
          <div class="category-card__foreground">
            <span class="category-card__icon">{{d-icon 'door-open'}}</span>
            <a href="/c/welcome">
              <h3 class="sticker-group sticker-group--center"><span class="sticker sticker--large sticker--dark sticker--skew">Welcome</span><span class="sticker sticker--large sticker--dark sticker--skew">Centre</span></h3>
            </a>
          </div>
        </div>
        <div class="category-card__text">
          <p>Learn about the Power of 10, see our latest updates, and get guidance for our toolkit and community.</p>
        </div>
      </div>
      <div class="home-categories__category category-card">
        <div class="category-card__background">
          <img src="{{theme-setting "theme_uploads.category-bg-campaigners"}}" class="category-card__background-image" />
          <div class="category-card__foreground">
            <span class="category-card__icon">{{d-icon 'briefcase'}}</span>
            <a href="/c/toolkit">
              <h3 class="sticker-group sticker-group--center"><span class="sticker sticker--large sticker--dark sticker--inverse-skew">Changemaker</span><span class="sticker sticker--large sticker--dark sticker--inverse-skew">Toolkit</span></h3>
            </a>
          </div>
        </div>
        <div class="category-card__text">
          <p>Resources to inspire, guide, and reassure, whether you’re a seasoned campaigner or just getting started.</p>
        </div>
      </div>
      <div class="home-categories__category category-card">
        <div class="category-card__background">
          <img src="{{theme-setting "theme_uploads.category-bg-community"}}" class="category-card__background-image" />
          <div class="category-card__foreground">
            <span class="category-card__icon">{{d-icon 'comment-dots'}}</span>
            <a href="/c/community">
              <h3 class="sticker-group sticker-group--center"><span class="sticker sticker--large sticker--dark sticker--skew">Community</span><span class="sticker sticker--large sticker--dark sticker--skew">Space</span></h3>
            </a>
          </div>
        </div>
        <div class="category-card__text">
          <p>Hang out with campaigners like you. Find local groups, ask questions, discuss news, and share your success.</p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
